.github

public/build/assets/*.map

bootstrap/cache/services.php
docs

storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

stubs

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

**/*node_modules

**.git
**.gitignore
**.gitattributes
*.env*

# Files in root
*.js
*.ts
*.xml
*.neon
*.md
*.lock
*.cache
