# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key

# Node
/node_modules

# Composer
/vendor

# Envs
.env
.env.backup
.env.dusk.local
.env.production

# PHPUnit
.phpunit.result.cache
phpunit.dusk.xml
.phpunit.cache
storage/phpunit/*

# IDEs
/.fleet
/.idea
/.vscode

# Docker
/docker-compose.override.yml

# OS
.DS_Store

